Ruby Wellington (formally known as Wellrailed, Wellington-Rails) is a Wellington, New Zealand based tech meetup which has been part of the community since 2006! While we're a Ruby meetup, our topics tend to span broad topics - e.g.: pure Ruby, Rails apps, frontend, security, infrastructure and general career and industry topics too.

The meetup currently runs every two months with a bit of a break over summer - typically running February, June, August and October.

**Getting involved**

If you're interested in hosting a meetup or doing a talk please get in touch with co-organisers Jordan Crawford via Meetup.com or via the Ruby Oceania Slack (we're in the #meetup-wellington channel).

**Talk Recordings**

You can watch recordings of talks on the [Ruby Wellington YouTube channel](https://www.youtube.com/@rubywellingtonmeetup).

**Code of Conduct**
At Ruby Wellington events we expect attendees to follow the Ruby NZ code of conduct - see [ruby.nz/code-of-conduct](https://ruby.nz/code-of-conduct)
