<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Ruby Wellington</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

  <header>
    <div class="logo">
      <a href="/">
        <img src="{{ '/assets/images/logo.svg' | relative_url }}" alt="Ruby Wellington" width="500px" />
      </a>
    </div>
    <nav class="site-nav">
      <a href="/">Overview</a>
      <a href="/meetups/">Meetups</a>
      <a href="/recordings/">Recordings</a>
      <a href="/people/">Speakers</a>
      <a href="/companies/">Companies</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>
  </div>
</body>

</html>
