---
layout: default
---
<nav class="page-nav">
  <a href="/meetups/" class="btn back">All Meetups</a>
  <div class="group">
    {% if page.prev_year %}
    <a href="/meetups/{{ page.prev_year }}/" class="btn page-nav--previous">←</a>
    {% else %}
    <span class="btn page-nav--previous disabled">←</span>
    {% endif %}
    {% if page.next_year %}
    <a href="/meetups/{{ page.next_year }}/" class="btn page-nav--next">→</a>
    {% else %}
    <span class="btn page-nav--next disabled">→</span>
    {% endif %}
  </div>
</nav>

<h1>{{ page.year }} Meetups <span class="count">{{ page.events | size }}</span></h1>

{% for event in page.events %}
{% include event_summary.html event=event %}
{% endfor %}
